
{{#if token}}
    <h2>{{ message }}</h2>
    <h1>{{ token }}</h1>

{{/if}}
{{#unless token}}
    <h1>{{ message }}</h1>
{{/unless}}


<script>
    var tokenState = "{{state.tokenState}}";
    var state = "{{state.state}}"
</script>
<script src="/js/stateCheck.js"></script>
